<!-- <img src="../assets/{{imageName}}" alt="image"> -->

<!-- <img src="../assets/woods.jpg" alt="image"> -->

<!-- simply pass a boolean value from child to here via output -->

<div></div>
<app-cabecera (ToggleEvent)="onToggleReceived($event)" (DesparecerEvent)="onDespareceReceived($event)">
   <div>
      <img #ImageVariavble src="../assets/bear.jpg" alt="image" />
   </div>

   <!-- ALTERNATIVE -->

   <!-- <div [hidden]="despareceClicked">
      <img [src]="(booleanContainer? '../assets/bear.jpg' : '../assets/woods.jpg')" alt="image">
      <p [(ngModel)]="booleanContainer"></p>
   </div> -->

   <!-- ALTERNATIVE -->

   <!-- 
   <div [hidden]="despareceClicked" *ngIf=!booleanContainer>
      <img src="../assets/bear.jpg" alt="image">
      <p>{{booleanContainer}}</p>
   </div>

   <div [hidden]="despareceClicked" *ngIf=booleanContainer>
      <img src="../assets/woods.jpg" alt="image">
      <p>{{booleanContainer}}</p>
   </div> -->
</app-cabecera>